


/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-up-open-big { display: block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;	
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	        transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	transition: opacity, -webkit-transform 1s;
	transition: opacity, transform 1s;
	transition: opacity, transform 1s, -webkit-transform 1s;
	transition-delay: 1s;
}
.wrapper{
    background-image: url(me.png);
    background-size: cover;
    background-position: center;
}
.wrapper a{
    text-decoration: none;
    text-decoration-color: none;
}


/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	text-transform: uppercase;
}

html {
	font-size: 62.5%;
}

body {
	color: black;
	letter-spacing: .18em;
}

a {
	text-decoration: none;
	color: white;
}

ul, li {
	list-style-type: none;
}



/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}


h1 a {
	display: block;
	padding: 0 10px;
}

.header-top a h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 10%;
    font-size: 20px;
    transition: 0.3s;
    
}
.header-top a h3:hover{
    transition: 0.3s;
    transform: scale(1.2);
}
.header-top a h3:active{
    transform: scale(0.9);
}
.header-top a{
    margin-right: 2%;
}
.socials table{
    border-spacing: 0.0px;
}
table{
    display: block;
    table-layout: fixed;
}
td{
    width: 100px;
}



nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {

}

nav li:nth-child(even) a {

}

nav li:nth-child(odd) a:hover {

}

nav li:nth-child(even) a:hover {

}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {

}
  


/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section { 
	text-align: center;
  
}
.firstsection{
    width: 100%;
    height: 100%;
    background-image: url(aloestones.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.secondsection{
    width: 100%;
    height: 100%;
    background-image: url(alexas-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.thirdsection{
    width: 100%;
    height: 100%;
    background-image: url(me.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    padding-top: 20%;
	font-size: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    transition: 0.5s;
}
.secondsection h1{
     padding-top:15%;
}
.thirdsection h1{
     padding-top:20%;
}
.firstsection .socials{
    display: flex;
    flex-wrap: wrap;
    
}
.secondsection .socials{
    margin-top: 12%;
}
.thirdsection .socials{
    margin-top: 12%;
}
.socials{
    position: fixed;
    z-index: 99999;
    margin-top: 15%;
    margin-left: 80%;
}
.socials a img{
    width: 30%;
    height: 30%;
    transition: 0.3s;
}
.socials table tr td a img:hover{
    transform: scale(1.5);
    transition: 0.3s;
}
.socials table tr td a img:active{
    transform: scale(0.9);
    transition: 0.3s;
}
 h1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
 h1:active{
    transform: scale(0.9)
}

h2 {
	text-transform: lowercase;
	font-size: 4em;
	margin-bottom: 20px;
}

h3 {
	font-weight: 300;
	font-size: 2.8em;
}



/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 800px) {
	nav ul {
		flex-direction: column;
	}
    nav li a {
        margin-top:60px;
	}
h1 {
     padding-top: 35%;
	font-size: 55px;
}
    .secondsection h1{
     padding-top: 25%;
}
.thirdsection h1{
     padding-top: 30%;
}
	nav li {
		margin-top: 1px;
	}
  
  nav li a {
    font-size: 30px;
  }
  
  .scroll-icon {
    display: none;
  }
    .socials{
    margin-top: 25%;
    margin-left: 50%;
}
    .secondsection .socials{
        margin-top: 27%
}
    .thirdsection .socials{
        margin-top: 30%;
    }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
    h1 {
    padding-top: 80%;
	font-size: 40px;
}
  .secondsection h1{
     padding-top: 60%;
}
.thirdsection h1{
     padding-top:70%;
}
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
        margin-top:70px;
	}
     .socials{
    margin-top: 60%;
    margin-left: 0;
    
}
    .secondsection .socials{
        margin-top: 50%;
    }
    .thirdsection .socials{
        margin-top: 53%;
    }
    .table{
        width: 5%;
    }
    .socials a img{
    width: 25%;
    height: auto;
    transition: 0.3s;
}
}